<div class="body">
    <div class="container">
        <div class="sidebar" [formGroup]="sidebarForm">
            <div class="searchTop">
                    <label>Search</label>
                    <input  placeholder="Search by country,parameter or expert" formControlName="searchValue" >
            </div>
            <div class="filters" [formArrayName]="'filters'">
                
                <div class="singleFilter" *ngFor="let filter of Filters;let i = index" [formGroupName]="i.toString()">
                        <ng-container *ngIf="filtersLoaded">
                        <div class="heading">Select {{filterNames[i]}}</div>
                        <div class="formGroup" *ngFor="let singleFilter of filter.value">
                            <label class="example-margin">{{singleFilter.name}}</label>
                            <mat-checkbox class="example-margin"  [formControlName]="singleFilter.name"></mat-checkbox>
                        </div>
                    </ng-container>
                    <mat-spinner [diameter]="35" class="spinner" *ngIf="!filtersLoaded"></mat-spinner>
                </div>
                
            </div>
        </div>
        <div class="right">
            <div class="topFilters">
                <div class="leftHeading">Filters :</div>
                <div class="AppliedFilters" *ngFor="let filter of filterNames;let i = index">
                    <div class="filterHeading" (click)="selectFilter(Filters[i],i)">
                        {{filter}}
                    </div>
                    <div class="selectedFilters">
                        <mat-chip-list #chipList aria-label="Selected Filters">
                            <ng-container *ngFor="let selected of selectedFilters[i];let j = index">
                                
                                <mat-chip (removed)="removeKeyword(i,selected)" *ngIf="((mobile && j<2) || !mobile)">
                                    {{selected}}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                            </ng-container>
                            <mat-chip *ngIf="selectedFilters[i]?.length>2 && mobile">{{'+ ' + (selectedFilters[i].length-2) + ' more'}}</mat-chip>
                            <mat-chip *ngIf="selectedFilters.length < 1 || selectedFilters[i].length<1">All</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div class="newFilterButtons">
                <div class="newButton">Latest</div>
                <div class="newButton">Popular</div>
                <div class="newButton">Trending</div>
            </div>
            
            <div class="rightContent">
                <app-videos [pexelVideos]="pexelVideos" style="height: 100%;width: 100%;" *ngIf="videosLoaded"></app-videos>
                <mat-spinner [diameter]="50" class="spinner" *ngIf="!videosLoaded"></mat-spinner>
            </div>
        </div>
    </div>
</div>