<div class="body">
    <div class="container">
        <div class="sidebar">
            <div class="searchTop" [formGroup]="sidebarForm">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Enter first name" formControlName="searchValue" >
                  </mat-form-field>
            </div>
            <div class="filters">
                <div class="singleFilter" *ngFor="let filter of Filters">
                    <form [formGroup]="filter.type">
                    <div class="formGroup" *ngFor="let singleFilter of filter.value">
                            <label class="example-margin">{{singleFilter.name}}</label>
                                    <mat-checkbox class="example-margin"  [formControlName]="singleFilter.name"  value={{singleFilter.name}}  >{{singleFilter.name}}</mat-checkbox>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>
</div>