@import '../../vars';
.body,.container{
    width: 100%;
    // height: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    // padding-inline: 20px;
    // padding-block: 10px;

}
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 70%;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 30%;
}
.mainVideo, .commentSection{
    width: 100%;
    // height: 50%;
    border: 2px solid gray;
}
.mainVideo{
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainVideo video{
    padding-top: 8px;
    height: 90%;
    width: 90%;
}
.videoActions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 8px;
}
.channel{
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}
.like{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: darkgray;
    padding-inline: 15px;
    cursor: pointer;
}
.like mat-icon, .like img{
    margin-inline-end: 10px;
}
.like img{
    height: 24px;
    width: 24px;
    transform: scale(2.9);
}
.likeCount{
    border-left: 2px solid $blackColor;
    padding-inline-start: 10px;
}
.commentSection{
    height: 35%;
}




// CSS for the smaller screens 

@media only screen and (max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .leftSide, .rightSide{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .leftSide .mainVideo, .commentSection{
        height: 100%;
        width: 100%;
    }
    .mainVideo video{
        width: 100%;
        height: 65%;
        padding: 0px;
        object-fit: cover;
    }
    .mainVideo .videoActions{
        height: 35%;
        width: 100%;
    }
    .videoActions{
        display: flex;
        flex-wrap: wrap;
    }
    .channel,.like{
        width: 45%;
    }

}