<div class="body">
    <div class="container">
        <div class="leftSide">
            <div class="mainVideo">
                <video [src]="selectedVideo.source" controls></video>
                <div class="videoActions">
                    <div class="channel">
                <div class="circle" [ngStyle]="{backgroundColor:selectedVideo.background ? selectedVideo.background : 'Green'}">{{selectedVideo.expert.split('')[0]}}</div>
                <div class="name">

                    {{selectedVideo.expert}}
                </div>
            </div>

                    <div class="like" [matTooltip]="'Views on this video'">
                        <div class="viewCount">186k Views</div>
                    </div>
                    <div class="like" [matTooltip]="'Comments on this video'">
                        <div class="commentCount" (click)="addComment()">{{(commentData ? commentData.length : selectedVideo.commentCount) + " Comments"}}</div>
                    </div>
                    <div class="like" [matTooltip]="'I like this'" (click)="likeVideo($event)">
                        <img src="assets/like.svg" *ngIf="!liked">
                        <mat-icon *ngIf="liked">thumb_up</mat-icon>
                        <div class="likeCount">6.8K</div>
                    </div>
                </div>
            </div>
            <div class="commentSection" *ngIf="!mobile">
                <app-comments></app-comments>
            </div>
        </div>
        <div class="rightSide">
            <div class="commentSection" *ngIf="mobile && comments">
                <app-comments></app-comments>
            </div>
            <!-- <div class="relatedVideos"> -->
                <app-related-videos style="height: 100%;" *ngIf="!comments || !mobile"></app-related-videos>
            <!-- </div> -->
        </div>
    </div>
</div>