<div class="body">
    <div class="parent" id="createProfileParent">
        <div class="box">
                   <div class="form">
                        <form [formGroup]="profileForm">
                            <div class="header">
                                <div class="heading">Create Your Profile</div>
                                <div class="text">Let's start your wonderful journey with us</div>
                            </div>
                            <div class="inputs">
                                <div class="formGroup">
                                    <input type="text" placeholder="Enter your name" formControlName="name"
                                        [ngClass]="profileForm.get('name').hasError('required') && profileForm.get('name').touched ? 'borderError' : ''">
                                    <span class="error"
                                        *ngIf="profileForm.get('name').hasError('required') && profileForm.get('name').touched">*required</span>
                                </div>
                                <div class="formGroup">
                                        <mat-form-field appearance="fill">
                                            <mat-select placeholder="Select your parameters" formControlName="expertise" >
                                              <mat-option *ngFor="let expert of parameters" [value]="expert.name">
                                                {{expert.name}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                </div>
                                <div class="formGroup">
                                    <mat-form-field appearance="fill">
                                        <mat-select placeholder="Select your services" formControlName="services" >
                                          <mat-option *ngFor="let expert of services" [value]="expert.name">
                                            {{expert.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="formGroup">
                                    <input type="file" placeholder="Upload profile pic" formControlName="image" (change)="handleInput($event)" [accept]="'.jpg, .jpeg, .png'"
                                        [ngClass]="profileForm.get('image').hasError('required') && profileForm.get('image').touched ? 'borderError' : ''">
                                    <span class="error"
                                        *ngIf="profileForm.get('image').hasError('required') && profileForm.get('image').touched">*required</span>
                                </div>
                                
                                
                            </div>
                            <div class="bottomButton">
                                <button
                                    [ngClass]="profileForm.invalid || profileForm.value.checkbox==false ? 'disabled-btn' : 'submit-btn'"
                                    [disabled]="profileForm.invalid || profileForm.value.checkbox==false"
                                    (click)="Submit()">Make Payment & Create Profile</button>
                            </div>
                        </form>
                    </div>
               

        </div>

        <div class="box">
            <div class="top">
                <div class="image">
                    <img [src]="profile ? profile : 'https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png'">
                </div>
                <div class="details">
                    <div class="name">{{newValues?.name ? newValues.name : user.name}}</div>
                    <div class="address">{{newValues?.address ? newValues.address : user.contact}}</div>
                </div>
            </div>
            <div class="bottomDetails">
                <div class="name">
                    <div class="nameLeft">Name : </div>
                    <div class="nameRight">{{newValues?.name ? newValues.name : user.name}}</div>
                </div>
                <div class="name">
                    <div class="nameLeft">Email : </div>
                    <div class="nameRight">{{newValues?.email ? newValues.email : user.email}}</div>
                </div>
                <div class="name">
                    <div class="nameLeft">Mobile : </div>
                    <div class="nameRight">{{newValues?.contact ? newValues.contact : user.contact}}</div>
                </div>
                <div class="name">
                    <div class="nameLeft">Address : </div>
                    <div class="nameRight">{{user.address}}</div>
                </div>
                <div class="name">
                    <div class="nameLeft">Parameter: </div>
                    <div class="nameRight">{{newValues?.expertise ? newValues.expertise : ''}}</div>
                </div>
                <div class="name">
                    <div class="nameLeft">Service : </div>
                    <div class="nameRight">{{newValues?.services ? newValues.services : ''}}</div>
                </div>
            </div>

        </div>
    </div>
</div>