$aquaColor:  rgb(0, 234, 255);
$whiteColor: white;
$blackColor: rgb(0,0,0);
$lightAqua:rgb(241 255 255);
$darkAqua: rgb(23, 153, 165);
$grayColor: gray;


// Variables for box shadows 
$blackShadow : rgba(0,0,0,0.3);