<div class="body">
    <div class="commentsContainer">
        <div class="userComment">
            <div class="userImage">
                <div class="circle" [ngStyle]="{backgroundColor:user ? 'brown' : commentsData[8].background}">{{user ? user.name.split('')[0] : 'U'}}</div>
            </div>
            <div class="commentDetails">
                <div class="upper">
                    <mat-form-field class="example-full-width" [formGroup]="commentForm">
                        <mat-label>Leave a comment</mat-label>
                        <input matInput placeholder="Write your comment here" #input (keydown.enter)="submit.click()" (focus)="onFocus($event)"  formControlName="comment">
                      </mat-form-field>
                </div>
                <div class="bottom" [ngStyle]="{visibility:(commentForm.get('comment').touched || inputFocused )? 'visible' : 'hidden'}">
                    <div class="buttons">
                        <button class="button cancel" (click)="cancel()">Cancel</button>
                        <button class="button submit" #submit (click)="addComment()" [disabled]="commentForm.invalid">Comment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="singleComment" *ngFor="let comment of commentsData">
            <div class="userImage">
                <div class="circle" [ngStyle]="{backgroundColor:comment.background}">{{comment.user_name.split('')[0]}}</div>
            </div>
            <div class="commentDetails">
                <div class="upper">
                    <div class="userName">
                        {{comment.user_name}}
                    </div>
                    <div class="commentTime">{{comment.time}}</div>
                </div>
                <div class="commentData">{{comment.comment}}</div>
            </div>
        </div>
    </div>
</div>