@import '../../vars';
.body{
    height: 100%;
    // height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.commentsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}
.singleComment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 7px;
    column-gap: 10px;
}
.commentDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userImage{
    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
}
.circle{
    min-width: 40px;
    min-height: 40px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}
.upper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}







// CSS for the scrollbar 
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $whiteColor; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $aquaColor; 
  }